{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block nav %}
<a aria-current="page" class="nav-link" href="{% url 'project_create' %}">
    Создать проект
</a>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card shadow">
            <div class="card-header bg-success text-white">
                <h3 class="mb-0">Добавить задачу</h3>
            </div>

            <div class="card-body p-4">
                {% include "partial/task_form.html" %}
            </div>
            <div class="card-footer text-center">
                <a class="btn btn-outline-success" href="/">
                    Назад
                </a>
                <button class="btn btn-warning" form="task-form" type="submit">
                    Сохранить
                </button>
            </div>
        </div>

    </div>
</div>
{% endblock %}