<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tasks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="bg-light">
    <div class="container py-5">
        <div class="text-center mb-5">
            <div>
                <h1 class="fw-bold">Все задачи</h1>
            </div>
            <div class="mt-4">
                <a class="btn btn-warning" href="add_task/">Добавить задачу</a>
            </div>

        </div>
        {% if tasks %}
            <div class="row g-4">
                {% for task in tasks %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card shadow-sm h-100">
                            <div class="card-body">

                                <h3 class="card-text h5 mb-3">
                                    {{ task.description }}
                                </h3>

                                <p>
                                    <span class="fw-semibold">Статус:</span>

                                    {% if task.status == "done" %}
                                        <span class="badge bg-success">
                                            {{ task.status }}
                                        </span>
                                    {% else %}
                                        <span class="badge bg-warning text-dark">
                                            {{ task.status }}
                                        </span>
                                    {% endif %}
                                </p>
                                {% if task.detail_description %}
                                    <p class="text-muted mb-0">
                                        {{ task.detail_description }}
                                    </p>
                                {% else %}
                                    <p class="text-muted mb-0">
                                        Нет описания
                                    </p>
                                {% endif %}

                                {% if task.date %}
                                    <p class="text-muted mb-0">
                                        <span class="fw-semibold">
                                            Выполнить до:
                                        </span>
                                        {{ task.date }}
                                    </p>
                                {% else %}
                                    <p class="text-muted mb-0">
                                        <span class="fw-semibold">
                                            Выполнить до:
                                        </span>
                                        нет срока
                                    </p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        {% else %}
            <div class="alert alert-info text-center">
                Нет задач
            </div>
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>