{% extends "base.html" %}

{% block nav %}
<a aria-current="page" class="nav-link" href="{% url 'tasks:project_create' %}">
    Создать проект
</a>
{% endblock %}


{% block content %}
<div class="container py-4">
    <div class="text-center mb-5">
        <h1 class="fw-bold">Все Проекты</h1>
        <div class="d-flex">
            <form class="d-flex mx-auto" action="" method="GET">
                {{ search_form }}
                <button class="btn btn-sm btn-outline-success ms-1" type="submit"> Поиск </button>
            </form>
        </div>

    </div>
    {% if projects %}
    <div class="row justify-content-center g-4">
        {% for project in projects %}
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 shadow-sm h-100 rounded-4">
                <div class="card-body d-flex flex-column p-4">
                    <h3 class="h5 fw-semibold mb-4 text-center">
                        {{ project.project_title }}
                    </h3>
                    <h3 class="h5 fw-semibold mb-4 text-center">
                        {{ project.project_description }}
                    </h3>
                    <div class="text-muted">
                        <small>
                            <span class="fw-semibold">Дата создания:</span>
                            {{ project.begining_date }}
                        </small>
                    </div>
                    <div class="text-muted mb-4 fs-6">
                        <small>
                            <span class="fw-semibold">Изменено:</span>
                            {{ project.end_date }}
                        </small>
                    </div>
                    <div class="mt-auto d-flex gap-2 ">
                        <a class="btn btn-outline-success btn-sm" href="{% url 'tasks:project_detail' project.pk %}">Подробнее</a>
                        <a class="btn btn-success btn-sm" href="{% url 'tasks:project_update' project.pk %}">Редактировать</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-success text-center rounded-4 shadow-sm">
        Пока нет проектов
    </div>
    {% endif %}

</div>
{% include 'partial/pagination.html' %}

{% endblock %}