<form id="task-form" action="" method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Описание</label>
        <p class="text-danger fs-6 mt-2">{{ errors.description }}</p>
        <input type="text" name="description" class="form-control {% if errors.description %}is-invalid{% endif %}" value="{{ task.description }}" placeholder="Введите описание">
    </div>

    <div class="mb-3">
        <label class="form-label">Подробнее</label>
        <p class="text-danger fs-6 mt-2">{{ errors.detail_description }}</p>
        <textarea name="detail_description" rows="5" cols="33" class="form-control {% if errors.detail_description %}is-invalid{% endif %}" placeholder="Подробнее о задаче">{{ task.detail_description }}</textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Срок выполнения</label>
        <p class="text-danger fs-6 mt-2">{{ errors.date }}</p>
        <input type="text" name="date" class="form-control {% if errors.date %}is-invalid{% endif %}" value="{{ task.date }}" placeholder="YYYY-MM-DD">
    </div>

    <div class="mb-3">
        <label class="form-label">Статус</label>
        <select name="status" class="form-select">
            <option value="new">Новая</option>
            <option value="in_progress">В процессе</option>
            <option value="done">Завершена</option>
        </select>
    </div>
</form>

